* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #640000;
    line-height: 1.6;
    padding: 20px;
}


header {
    background-color: #520606;
    color: #000000;
    text-align: center;
    padding: 20px;
}


.perfil {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.perfil img.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.perfil h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.perfil p {
    font-size: 1.2em;
    margin-bottom: 10px;
}


footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    margin-top: 20px;
}

